$colorvioletafuerte: #8048A3;
$colorvioletasemifuerte:#BB93D5;
$colorvioletaclaro:#E4D4E9;
$colorvioletamedio:#D2C1E5;
$colornaranjafuerte:#D97C52;
$colornaranjamedio:#F5A686;
$colornaranjasemiclaro:#FFD6CF;
$colornaranjaclaro:#FFE0DE;
$colorblanco:white;
$colornegro:black;