@mixin botones {
    background-color: $colorvioletafuerte;
    color: $colornaranjaclaro;
    font-family: $montserrat;
    font-weight: 700;
    &:hover {
      color: $colorvioletasemifuerte;
      transform: scale(1.1, 1.1);
    }
}

.carrousel {
    .carrousel__fotos {
      .carrousel__fotos--uno {
        h1 {
          color: $colorvioletafuerte;
          font-family: 'Playfair Display', serif;
          font-weight: 900;
          font-size: 5rem;
        }
        p.parrafoPrincipal {
          font-family: $montserrat;
          font-weight: 500;
          font-size: 1.4rem;
        }
      }
    }
  }

section.tarjetas {
  background-color: $colorvioletaclaro;
  .tarjetas__filas {
    .tarjetas__filas--columnas {
      .tarjetas__tarjeta {
        background-color: $colornaranjasemiclaro;
      }
    }
  }
  .tarjetas__botones {
    @include botones;
  }
}

section {
  .tablaServicios {
    background-color: $colorvioletaclaro;
    width: 50%;
    .tablaTitulo {
      background-color: $colorvioletafuerte;
      color: $colorvioletaclaro;
      font-family: $montserrat;
      font-weight: 800;
    }
    .tablaTexto {
      font-family: $montserrat;
      font-weight: 500;
    }
  }
  div {
    .botones {
      @include botones;
    }
  } 
}

section.nuestrosClientes {
  background-color: $colorvioletaclaro;
  .cuadroClientes {
    background-color: $colorvioletamedio;
    color: $colornegro;
    font-family: $montserrat;
    font-weight: 800;
  }
}