@media only screen and (max-width: 768px) {

/* --------------------------------TODAS LAS SECCIONES */

h2 {
    font-size: 2rem; 
}

h3 {
    font-size: 1.2rem; 
}

p {
    font-size: 0.8rem;
}

header {
    div {
        div {
            .navegador {
                font-size: 0.9rem;
                .menuUno {
                    li {
                        &:hover {
                        transform: none; 
                        }
                    }
                } 
            }
        }
    }
}

.botones {
    font-size: 1rem;
}

#formulario {
    @include formulario ($colornaranjaclaro, 0.8rem, 2fr, 4fr, "tituloFormulario contenedorFormulario", $colorvioletamedio, 40%, $colorvioletamedio, 80%);
}

#formularioDos {
    @include formulario ($colorvioletamedio, 0.8rem, 2fr, 4fr, "tituloFormulario contenedorFormulario", $colorblanco, 40%, $colorblanco, 80%);
}

main {
    div {
        .tituloPrincipal {
            font-size: 3rem;
            top: 60%;
        }
        .bajadaPrincipal {
            font-size: 0.9rem;
            line-height: 1rem;
            top: 70%;
        }
    }
    div {
        ol {
            font-size: 1rem;
        }
    }
}

/* --------------------------------INDEX*/

.carrousel {
    .carrousel__fotos {
        .carrousel__fotos--uno {
            h1 {
            font-size: 2rem;
            }
        p.parrafoPrincipal {
            font-size: 0.8rem;
        }
        }
    }
}

section {
    .tablaServicios {
        overflow: scroll;
        width: 75%;
        .tablaTitulo {
            font-size: 1.5rem;
        }
        .tablaTexto {
            font-size: 0.8rem;
        }
    }
}

/* --------------------------------SECCIÓN VIDEOS */


section.videosEstilos {
    .videosDos {
        @include videos (column, 35rem, 20rem, 10%);
    }
}

section {
    .videosTres {
        @include videos (column, 35rem, 20rem, 10%);
    }
}


/* --------------------------------SECCIÓN SERVICIOS */

section.contenedorDisenos {
    .disenos {
        .disenoUno, .disenoDos, .disenoTres, .disenoCuatro, .disenoCinco, .disenoSeis {
            .titulosDisenos {
                @include titulosdiseno (1rem, 16%);
            }
        }
    }
}

/* --------------------------------SECCIÓN ¿QUIÉNES SOMOS? */

main {
    div {
        .tituloPrincipalDos {
            font-size: 3rem;
            top: 60%;
        }
    }
}

section.quienSoy {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "tituloQuienSoy tituloQuienSoy"
        "imagenGissp textoQuienSoy";
        .imagenGissp {
            .fotoGissp {
                width: 50%;
            }
        }
        .textoQuienSoy {
            width: 80%;
    }
}

section.misHabilidades {
    .iconosQuienesSomos {
        margin-left: 18%;
        width: 60px;
        height: 60px;
    }
    .habilidadesTexto {
        margin-left: 16%;
        font-size: 1rem;
    }
}


/* --------------------------------SECCIÓN CONTACTO */

section.redesSociales {
    .contenedorRedesSociales {
        width: 90%;
        margin-left: 5%;
    }
}

section {
    .mapa {
        .googleMaps {
            width: 40rem;
            height: 20rem;
        }
    }
}

}