// TODAS LAS SECCIONES

main {
    div {
        .tituloPrincipal {
            color: $colorvioletafuerte;
            font-family: $playfair;
            font-weight: 900;
            font-size: 5rem;
            position: absolute;
            top: 90%;
            left: 5%; 
        }
        .bajadaPrincipal {
            color: $colornegro;
            font-family: $montserrat;
            font-weight: 600;
            font-size: 1.3rem;
            line-height: 1.8rem;
            position: absolute;
            top: 100%;
            left: 5%;
        }
    }
    div {
        ol {
            font-family: $montserrat;
            font-weight: 800;
            font-size: 1.2rem;
            li a {
                color: $colorvioletafuerte;
                text-decoration: none;
                &:hover {
                    text-decoration: none;
                    color: $colornaranjamedio;
                }
            }
        }
    }
}

// SECCION FOTOGRAFÍAS

.galeriaEstilo {
    background-color: $colorvioletaclaro;
    padding: 2%;
    margin-top: 1%;
    margin-bottom: 1%; 
}

