@mixin videos {
    width: 50rem;
    height: 30rem;
    margin-bottom: 5%;
}

@mixin botones {
    background-color: $colorvioletafuerte;
    color: $colornaranjaclaro;
    font-family: $montserrat;
    font-weight: 700;
    &:hover {
        color: $colorvioletasemifuerte;
        transform: scale(1.1, 1.1);
    }
}

section {
    .videoExperiencia {
        width: 75%;
    }
    .botones {
        @include botones;
    }
}

section.videosEstilos {
    background-color: $colorvioletaclaro;
    .videosDos {
        display: flex;
        justify-content: space-around;
        .videos {
            @include videos;
        }
    }
}

section {
    .videosTres {
        display: flex;
        justify-content: space-around;
        .videos {
            @include videos;
        }
    }
}