@import "colores";
@import "tipografias";
@import "mixins";
@import "navegador";
@import "index";
@import "secciones";
@import "videos";
@import "servicios";
@import "quienessomos";
@import "contacto";
@import "formulario";
@import "redessociales";
@import "footer";
@import "querriesmobile";
@import "querriestablet";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colornaranjaclaro;
}
