@import "colores";
@import "tipografias";
@import "navegador";
@import "index";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colornaranjaclaro;
}

@mixin botones {
    background-color: $colorvioletafuerte;
    color: $colornaranjaclaro;
    font-family: $montserrat;
    font-weight: 700;
}

@mixin formulario ($background) {
  background-color: $background;
  font-family: $montserrat;
  font-weight: 500;
  font-size: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tituloFormulario contenedorFormulario"; 
}

/*-------------------------------------------------------------CONTENEDORES INDEX */

// .tablaServicios {
//   background-color: $colorvioletaclaro;
//   width: 50%; }

.tablaEstilos {
  background-color: $colorvioletamedio;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 3%; }

section.nuestrosClientes {
  background-color: $colornaranjasemiclaro; }

.tituloClientes {
  background-color: $colorvioletafuerte;
  color: $colorvioletamedio;
  font-family: $montserrat;
  font-weight: 800; }

// .cuadroClientes {
//   background-color: $colorvioletamedio;
//   color: $colornegro;
//   font-family: $montserrat;
//   font-weight: 800; }

/*-------------------------------------------------------------CONTENEDORES FOTOGRAFÍAS */
main.galeriaEstilo {
  background-color: $colorvioletaclaro; }

/*-------------------------------------------------------------CONTENEDORES VIDEOS*/
main.videosDos {
  background-color: $colorvioletaclaro;
  display: flex;
  justify-content: space-around; }

main.videosTres {
  display: flex;
  justify-content: space-around; }

/*-------------------------------------------------------------CONTENEDORES SERVICIOS*/
main.tablaServiciosDos {
  background-color: $colorvioletamedio;
  display: grid;
  justify-items: center; }

.tablaCasamiento {
  background-color: $colornaranjasemiclaro;
  border-radius: 1rem;
  padding: 1rem;
  margin-bottom: 10%; }

main.tablaServiciosTres {
  display: grid;
  justify-items: center; }

.desplegable {
  background-color: $colorvioletafuerte;
  font-family: $montserrat;
  font-weight: 800;
  font-size: 1.2rem;
  color: $colorvioletamedio; }

.desplegableCuadro {
  background-color: $colorvioletamedio; }

main.contenedorDisenos {
  background-color: $colorvioletamedio; }

div.disenos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1rem;
  margin: 1rem;
  grid-template-areas: "disenoUno disenoDos disenoTres"
 "disenoCuatro disenoCinco disenoSeis"; }

.imagenesDiseno {
  z-index: 1;
  width: 100%;
  filter: brightness(20%); }

.imagenesDiseno:hover {
  filter: brightness(100%); }

.titulosDisenos {
  z-index: 2;
  position: absolute;
  font-size: 2.5rem;
  font-weight: 900;
  color: $colornaranjasemiclaro;
  margin-top: 16%; }

div.disenoUno {
  grid-area: disenoUno;
  display: flex;
  justify-content: center; }

div.disenoDos {
  grid-area: disenoDos;
  display: flex;
  justify-content: center; }

div.disenoTres {
  grid-area: disenoTres;
  display: flex;
  justify-content: center; }

div.disenoCuatro {
  grid-area: disenoCuatro;
  display: flex;
  justify-content: center;
  margin-bottom: 10%; }

div.disenoCinco {
  grid-area: disenoCinco;
  display: flex;
  justify-content: center;
  margin-bottom: 10%; }

div.disenoSeis {
  grid-area: disenoSeis;
  display: flex;
  justify-content: center;
  margin-bottom: 10%; }

/*-------------------------------------------------------------CONTENEDORES QUIENES SOMOS*/
main.quienSoy {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "tituloQuienSoy tituloQuienSoy"
 "imagenGissp textoQuienSoy";
  margin-bottom: 5%; }

.tituloQuienSoy {
  grid-area: tituloQuienSoy;
  display: grid;
  justify-items: center; }

div.textoQuienSoy {
  grid-area: textoQuienSoy;
  width: 60%;
  padding: 1rem; }

.imagenGissp {
  grid-area: imagenGissp;
  display: grid;
  justify-items: end;
  padding: 1rem; }

main.misHabilidades {
  background-color: $colorvioletamedio;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center; }

/*-------------------------------------------------------------CONTENEDORES CONTACTO*/
main.redesSociales {
  margin-bottom: 5%; }

.contenedorRedesSociales {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap; }

.mapa {
  display: flex;
  justify-content: center; }

.googleMaps {
  width: 60rem;
  height: 30rem; }

/* -------------------------------------------------------------BOTONES */
.botones {
  background-color: $colorvioletafuerte;
  color: $colornaranjaclaro;
  font-family: $montserrat;
  font-weight: 700; }

.botones:hover {
  color: $colorvioletasemifuerte;
  transform: scale(1.1, 1.1); }

/* -------------------------------------------------------------TEXTOS */
// h1 {
//   color: $colorvioletafuerte;
//   font-family: 'Playfair Display', serif;
//   font-weight: 900;
//   font-size: 5rem; }

h1.tituloPrincipal {
  position: absolute;
  top: 109%;
  left: 5%; }

h2 {
  color: $colorvioletafuerte;
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 4rem; }

h3 {
  color: $colorvioletafuerte;
  font-family: $montserrat;
  font-weight: 800; }

h4 {
  font-family: $montserrat;
  font-size: 1.1rem;
  color: $colorvioletafuerte; }

p {
  font-family: $montserrat;
  font-weight: 500;
  font-size: 1rem; }

// p.parrafoPrincipal {
//   font-size: 1.4rem; }

p.bajadaPrincipal {
  color: $colornegro;
  position: absolute;
  top: 120%;
  left: 5%;
  font-family: $montserrat;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 1.8rem; }

p.bajadaFotografias {
  font-size: 1.3rem; }

// .tablaTitulo {
//   background-color: $colorvioletafuerte;
//   color: $colorvioletaclaro;
//   font-family: $montserrat;
//   font-weight: 800; }

// .tablaTexto {
//   font-family: $montserrat;
//   font-weight: 500; }

.textoQuienSoy h3 {
  color: #D97C52;
  font-family: 'Playfair';
  font-weight: 600;
  font-size: 2.5rem;
  display: inline-block; }

.textoQuienSoy p {
  line-height: 1.5rem;
  display: inline-block; }

h4.habilidadesTexto {
  display: inline-block;
  margin-left: 20%;
  margin-bottom: 5%;
  font-family: $montserrat;
  font-weight: 800;
  font-size: 1.3rem; }

/* -------------------------------------------------------------IMAGENES */
.iconosQuienesSomos {
  margin-left: 20%;
  margin-bottom: 1%;
  width: 100px;
  height: 100px; }

.iconosRedesSocialesUno {
  width: 100%;
  padding: 1.5%; }

.iconosRedesSocialesDos {
  width: 100%;
  padding: 0.8%; }

.fotografiasEstilos {
  width: 100%; }

.fotografiasEstilos:hover {
  transform: scale(1.5, 1.5); }

/* -------------------------------------------------------------VIDEOS */
.videoExperiencia {
  width: 75%; }

.videos {
  width: 50rem;
  height: 30rem;
  margin-bottom: 8%; }

/* -------------------------------------------------------------OPCIONES DE SERVICIOS */
.mainBloquesServicios {
  grid-area: mainBloquesServicios;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "servicios15años serviciosCasamientos serviciosBooks"
 "serviciosColegios serviciosEmprendimientos serviciosOtros"; }

.servicios15años {
  grid-area: servicios15años; }

.serviciosCasamientos {
  grid-area: serviciosCasamientos; }

.serviciosBooks {
  grid-area: serviciosBooks; }

.serviciosColegios {
  grid-area: serviciosColegios; }

.serviciosEmprendimientos {
  grid-area: serviciosEmprendimientos; }

.serviciosOtros {
  grid-area: serviciosOtros; }

.nombreServicios {
  z-index: 2;
  grid-area: nombreServicios;
  position: absolute;
  margin-top: 28%;
  margin-left: 12%;
  color: #D97C52;
  font-family: $montserrat;
  font-weight: 800;
  font-size: 2rem; }

.serviciosCasamientos h3 {
  margin-left: 10%; }

.serviciosEmprendimientos h3 {
  margin-left: 8%; }

.serviciosOtros h3 {
  margin-left: 12%; }

.imgServicios {
  z-index: 1;
  width: 39.6rem;
  filter: brightness(20%);
  vertical-align: bottom; }

.imgServicios:hover {
  position: absolute;
  z-index: 3;
  filter: brightness(100%);
  transform: scale(1.1, 1.1); }

/* -------------------------------------------------------------FORMULARIO */
// #formulario {
//   font-family: 'Roboto', sans-serif;
//   font-weight: 500;
//   font-size: 1rem;
//   display: grid;
//   grid-template-columns: 2fr 3fr;
//   grid-template-rows: 1fr;
//   grid-template-areas: "tituloFormulario contenedorFormulario"; }

// #formularioDos {
//   background-color: $colorvioletamedio;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 500;
//   font-size: 1rem;
//   display: grid;
//   grid-template-columns: 2fr 3fr;
//   grid-template-rows: 1fr;
//   grid-template-areas: "tituloFormulario contenedorFormulario"; }

// .tituloFormulario {
//   grid-area: tituloFormulario;
//   text-align: right;
//   margin-top: 2%; }

// div.contenedorFormulario {
//   grid-area: contenedorFormulario;
//   margin-top: 5%;
//   margin-left: 5%;
//   margin-bottom: 5%; }

// .formularioEstilos {
//   background-color: $colorvioletamedio;
//   border: none;
//   border-radius: 0.5rem;
//   width: 25%;
//   padding: 0.5rem;
//   margin-bottom: 2%; }

// .formularioEstilosDos {
//   background-color: $colorblanco;
//   border: none;
//   border-radius: 0.5rem;
//   width: 25%;
//   padding: 0.5rem;
//   margin-bottom: 2%; }

// .formularioConsulta {
//   background-color: $colorvioletamedio;
//   width: 50%;
//   height: 80%;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
//   border: none;
//   border-radius: 0.5rem;
//   padding: 1rem; }

// .formularioConsultaDos {
//   background-color: $colorblanco;
//   width: 50%;
//   height: 80%;
//   font-family: 'Roboto', sans-serif;
//   font-weight: 400;
//   border: none;
//   border-radius: 0.5rem;
//   padding: 1rem; }

// .botonEnviar {
//   text-decoration: none;
//   background-color: $colorvioletafuerte;
//   color: $colornaranjaclaro;
//   border: none;
//   font-family: $montserrat;
//   font-weight: 700;
//   font-size: 1rem;
//   padding: 0.8rem;
//   border-radius: 0.5rem;
//   margin-top: 1%;
//   margin-right: 1%; }

// .botonEnviar:hover {
//   text-decoration: none;
//   color: $colorvioletamedio;
//   transform: scale(1.1, 1.1); }

// .botonBorrar {
//   text-decoration: none;
//   background-color: $colorvioletafuerte;
//   opacity: 70%;
//   color: $colornaranjaclaro;
//   border: none;
//   font-family: $montserrat;
//   font-weight: 700;
//   font-size: 1rem;
//   padding: 0.8rem;
//   border-radius: 0.5rem;
//   margin-top: 1%; }

// .botonBorrar:hover {
//   text-decoration: none;
//   background-color: $colorvioletafuerte;
//   opacity: 100%;
//   color: $colornaranjaclaro; }

/* -------------------------------------------------------------FOOTER */
.footer {
  font-family: $montserrat;
  background: $colorvioletafuerte;
  color: $colorblanco; }

.links ul {
  list-style-type: none; }

.links li a {
  text-decoration: none;
  font-family: $montserrat;
  font-weight: 700;
  color: $colorblanco;
  transition: color .2s; }

.links li a:hover {
  text-decoration: none;
  color: $colornaranjaclaro; }

.footerTexto {
  font-family: $montserrat;
  font-weight: 800;
  color: $colornaranjaclaro; }

.copyright p {
  border-top: 1px solid rgba(255, 255, 255, 0.1); }

/* -------------------------------------------------------------MEDIA QUERRIES TABLET */
@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem; }
  p.parrafoPrincipal {
    font-size: 0.9rem; }
  h2 {
    font-size: 2.3rem; }
  h3 {
    font-size: 1.2rem; }
  .botones {
    font-size: 1rem; }
  .tablaTexto {
    font-size: 0.9rem; }
  .tablaServicios {
    width: 75%;
    overflow: scroll; }
  #formulario, #formularioDos {
    display: grid;
    grid-template-columns: 2fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tituloFormulario contenedorFormulario"; }
  .formularioEstilos, .formularioEstilosDos {
    width: 40%; }
  .formularioConsulta, .formularioConsultaDos {
    width: 80%; }
  /* --------------------------------SECCIÓN FOTOGRAFÍAS */
  h1.tituloPrincipal {
    font-size: 3rem;
    top: 63%;
    left: 5%; }
  p.bajadaPrincipal {
    top: 74%;
    left: 5%;
    font-size: 1rem;
    line-height: 1.5rem; }
  p.bajadaFotografias {
    font-size: 1rem; }
  /* --------------------------------SECCIÓN VIDEOS */
  .videos {
    width: 100%;
    margin-bottom: 8%; }
  /* --------------------------------SECCIÓN SERVICIOS */
  h1.tituloPrincipalDos {
    top: 65%;
    left: 5%; }
  .imagenesDiseno {
    z-index: 1;
    width: 100%;
    filter: brightness(20%); }
  .titulosDisenos {
    font-size: 1.1rem;
    color: $colornaranjasemiclaro;
    margin-top: 16%; }
  /* --------------------------------SECCIÓN ¿QUIÉNES SOMOS? */
  main.quienSoy {
    display: grid;
    grid-template-columns: 3fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tituloQuienSoy tituloQuienSoy"
 "imagenGissp textoQuienSoy"; }
  div.textoQuienSoy {
    width: 80%; }
  .iconosQuienesSomos {
    margin-left: 17%;
    margin-bottom: 2%;
    width: 80px;
    height: 80px; }
  h4.habilidadesTexto {
    display: inline-block;
    margin-left: 15%;
    margin-bottom: 5%;
    font-size: 1.2rem; }
  .iconosRedesSocialesUno {
    width: 100%;
    padding: 1.5%; }
  .iconosRedesSocialesDos {
    width: 100%;
    padding: 0.8%; }
  .contenedorRedesSociales {
    width: 90%;
    margin-left: 5%; }
  .googleMaps {
    width: 40rem;
    height: 20rem; } }

/* -------------------------------------------------------------MEDIA QUERRIES MOBILE */
@media (max-width: 320px) {
  .logo {
    width: 3.8rem; }
  h1 {
    font-size: 0.5rem; }
  p {
    font-size: 0.8rem; }
  h2 {
    font-size: 1.8rem; }
  h3 {
    font-size: 1.2rem; }
  h1.tituloPrincipal {
    font-size: 1.9rem;
    opacity: 0%; }
  p.bajadaPrincipal {
    opacity: 0%; }
  .videoExperiencia {
    width: 100%; }
  .tablaServicios {
    overflow: scroll; }
  #formulario, #formularioDos {
    font-size: 0.9rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tituloFormulario"
 "contenedorFormulario"; }
  .tituloFormulario {
    text-align: center;
    margin-top: 2%; }
  .formularioEstilos, .formularioEstilosDos {
    width: 95%; }
  .formularioConsulta, .formularioConsultaDos {
    width: 95%; }
  .botonEnviar {
    font-size: 0.8rem;
    padding: 0.6rem; }
  .botonBorrar {
    font-size: 0.8rem;
    padding: 0.6rem; }
  /* --------------------------------SECCIÓN FOTOGRAFÍAS */
  p.bajadaFotografias {
    font-size: 0.8rem; }
  /* --------------------------------SECCIÓN VIDEOS */
  .videos {
    width: 20rem;
    height: 13rem;
    margin-bottom: 1%;
    padding: 1rem; }
  /* --------------------------------SECCIÓN SERVICIOS */
  div.disenos {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    margin: 1rem;
    grid-template-areas: "disenoUno"
 "disenoDos"
 "disenoTres"
 "disenoCuatro"
 "disenoCinco"
 "disenoSeis"; }
  .imagenesDiseno {
    filter: brightness(30%); }
  .titulosDisenos {
    font-size: 1.2rem;
    color: $colornaranjasemiclaro;
    margin-top: 45%; }
  /* --------------------------------SECCIÓN ¿QUIÉNES SOMOS? */
  main.quienSoy {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "tituloQuienSoy"
 "imagenGissp" 
 "textoQuienSoy"; }
  div.textoQuienSoy {
    width: 100%; }
  .imagenGissp {
    display: grid;
    justify-items: center; }
  .iconosQuienesSomos {
    margin-left: 14%;
    margin-bottom: 2%;
    width: 40px;
    height: 40px; }
  h4.habilidadesTexto {
    margin-left: 8%;
    margin-bottom: 10%;
    font-size: 0.8rem; }
  .contenedorRedesSociales {
    width: 90%;
    margin-left: 5%; } }